In this assignment, we were asked to use an API to gather English Premier League Data and create the most up-to-date league standings.

Note: the data for a single match in the `json` response should look something like:
```
results['results'][0] = {'sport_event': {'competitors': [{'abbreviation': 'MUN',
                                                          'country': 'England',
                                                          'country_code': 'ENG',
                                                          'id': 'sr:competitor:35',
                                                          'name': 'Manchester United',
                                                          'qualifier': 'home'},
                                                         {'abbreviation': 'LEI',
                                                          'country': 'England',
                                                          'country_code': 'ENG',
                                                          'id': 'sr:competitor:31',
                                                          'name': 'Leicester City',
                                                          'qualifier': 'away'}],
                                         'id': 'sr:match:14735957',
                                         'scheduled': '2018-08-10T19:00:00+00:00',
                                         'season': {'end_date': '2019-05-13',
                                                    'id': 'sr:season:54571',
                                                    'name': 'Premier League 18/19',
                                                    'start_date': '2018-08-10',
                                                    'tournament_id': 'sr:tournament:17',
                                                    'year': '18/19'},
                                         'start_time_tbd': False,
                                         'tournament': {'category': {'country_code': 'ENG',
                                                                     'id': 'sr:category:1',
                                                                     'name': 'England'},
                                                        'id': 'sr:tournament:17',
                                                        'name': 'Premier League',
                                                        'sport': {'id': 'sr:sport:1',
                                                        'name': 'Soccer'}},
                                         'tournament_round': {'number': 1,
                                                              'phase': 'regular season',
                                                              'type': 'group'},
                                         'venue': {'capacity': 75635,
                                                   'city_name': 'Manchester',
                                                   'country_code': 'ENG',
                                                   'country_name': 'England',
                                                   'id': 'sr:venue:9',
                                                   'map_coordinates': '53.463150,-2.291444',
                                                   'name': 'Old Trafford'}},
                         'sport_event_status': {'away_score': 1,
                                                'home_score': 2,
                                                'match_status': 'ended',
                                                'period_scores': [{'away_score': 0,
                                                                   'home_score': 1,
                                                                   'number': 1,
                                                                   'type': 'regular_period'},
                                                                  {'away_score': 1,
                                                                   'home_score': 1,
                                                                   'number': 2,
                                                                   'type': 'regular_period'}],
                                                'status': 'closed',
                                                'winner_id': 'sr:competitor:35'}}
```

In [25]:
import json
import pandas as pd
import requests
from collections import OrderedDict, defaultdict
from pprint import pprint

In [2]:
url = 'https://api.sportradar.us/soccer-xt3/eu/en/tournaments/sr:tournament:17/results.json?api_key=********'

In [3]:
data = requests.get(url)

In [4]:
epl_dict = data.json()

In [5]:
# Examined data returned by request
# pprint(epl_dict)

In [48]:
# Check that results dict matches expected information
pprint(epl_dict['results'][:2])

[{'sport_event': {'competitors': [{'abbreviation': 'MUN',
                                   'country': 'England',
                                   'country_code': 'ENG',
                                   'id': 'sr:competitor:35',
                                   'name': 'Manchester United',
                                   'qualifier': 'home'},
                                  {'abbreviation': 'LEI',
                                   'country': 'England',
                                   'country_code': 'ENG',
                                   'id': 'sr:competitor:31',
                                   'name': 'Leicester City',
                                   'qualifier': 'away'}],
                  'id': 'sr:match:14735957',
                  'scheduled': '2018-08-10T19:00:00+00:00',
                  'season': {'end_date': '2019-05-13',
                             'id': 'sr:season:54571',
                             'name': 'Premier League 18/19',
                             'start_date': '2018-08-10',
                             'tournament_id': 'sr:tournament:17',
                             'year': '18/19'},
                  'start_time_tbd': False,
                  'tournament': {'category': {'country_code': 'ENG',
                                              'id': 'sr:category:1',
                                              'name': 'England'},
                                 'id': 'sr:tournament:17',
                                 'name': 'Premier League',
                                 'sport': {'id': 'sr:sport:1',
                                           'name': 'Soccer'}},
                  'tournament_round': {'number': 1,
                                       'phase': 'regular season',
                                       'type': 'group'},
                  'venue': {'capacity': 75635,
                            'city_name': 'Manchester',
                            'country_code': 'ENG',
                            'country_name': 'England',
                            'id': 'sr:venue:9',
                            'map_coordinates': '53.463150,-2.291444',
                            'name': 'Old Trafford'}},
  'sport_event_status': {'away_score': 1,
                         'home_score': 2,
                         'match_status': 'ended',
                         'period_scores': [{'away_score': 0,
                                            'home_score': 1,
                                            'number': 1,
                                            'type': 'regular_period'},
                                           {'away_score': 1,
                                            'home_score': 1,
                                            'number': 2,
                                            'type': 'regular_period'}],
                         'status': 'closed',
                         'winner_id': 'sr:competitor:35'}},
 {'sport_event': {'competitors': [{'abbreviation': 'NEW',
                                   'country': 'England',
                                   'country_code': 'ENG',
                                   'id': 'sr:competitor:39',
                                   'name': 'Newcastle United',
                                   'qualifier': 'home'},
                                  {'abbreviation': 'TOT',
                                   'country': 'England',
                                   'country_code': 'ENG',
                                   'id': 'sr:competitor:33',
                                   'name': 'Tottenham Hotspur',
                                   'qualifier': 'away'}],
                  'id': 'sr:match:14735959',
                  'scheduled': '2018-08-11T11:30:00+00:00',
                  'season': {'end_date': '2019-05-13',
                             'id': 'sr:season:54571',
                             'name': 'Premier League 18/19',
                             'start_date': '2018-08-10',
                             'tournament_id': 'sr:tournament:17',
                             'year': '18/19'},
                  'start_time_tbd': False,
                  'tournament': {'category': {'country_code': 'ENG',
                                              'id': 'sr:category:1',
                                              'name': 'England'},
                                 'id': 'sr:tournament:17',
                                 'name': 'Premier League',
                                 'sport': {'id': 'sr:sport:1',
                                           'name': 'Soccer'}},
                  'tournament_round': {'number': 1,
                                       'phase': 'regular season',
                                       'type': 'group'},
                  'venue': {'capacity': 52338,
                            'city_name': 'Newcastle upon Tyne',
                            'country_code': 'ENG',
                            'country_name': 'England',
                            'id': 'sr:venue:765',
                            'map_coordinates': '54.975033,-1.615061',
                            'name': "St James' Park"}},
  'sport_event_status': {'away_score': 2,
                         'home_score': 1,
                         'match_status': 'ended',
                         'period_scores': [{'away_score': 2,
                                            'home_score': 1,
                                            'number': 1,
                                            'type': 'regular_period'},
                                           {'away_score': 0,
                                            'home_score': 0,
                                            'number': 2,
                                            'type': 'regular_period'}],
                         'status': 'closed',
                         'winner_id': 'sr:competitor:33'}}]

The goal of this problem is to construct a standings table. Your final output should look like the table in the following cell:

```
Team	G	W	D	L	GF	GA	GD	P
 FCB	6	4	1	1	17	 7	10	13
 MAD	6	4	1	1	12	 6	 6	13
 ATM	6	3	2	1	 8	 4	 4	11
 SFC	6	3	1	2	13	 6	 7	10
 ALA	5	3	1	1	 8	 5	 3	10
 ESP	6	3	1	2	 6	 4	 2	10
 CEL	6	2	3	1	11	 9	 2	 9
 VIL	6	2	2	2	 5	 3	 2	 8
 RSO	6	2	2	2	 9	 9	 0	 8
 GIR	5	2	2	1	 7	 8	-1	 8
 GET	5	2	1	2	 4	 4	 0	 7
 EIB	6	2	1	3	 5	 7	-2	 7
 ATH	5	1	3	1	 7	 9	-2	 6
 RBB	5	1	3	1	 3	 5	-2	 6
 VCF	6	0	5	1	 4	 6	-2	 5
 LUD	5	1	1	3	 8	11	-3	 4
 LEG	6	1	1	4	 6	11	-5	 4
 RVC	5	1	1	3	 5	12	-7	 4
 HUE	6	1	1	4	 6	16   -10	 4
 RVA	5	0	3	2	 3	 5	-2	 3
 ```

In [7]:
results_list = epl_dict['results']

In [8]:
def get_unique_teams(results):
    # Use list comp to create a list of teams from the results
    teams_list = [tup[0] for result in game_results
                        for tup in result]
    # Get unique teams from list
    teams = set(teams_list)
    
    return teams

In [9]:
def init_team_results(teams):
    # Initialize result dictionaries for each team with default of zero
    # This way, if a team doesn't have a loss for instance, they'd still appear in the dictionary
    losses = {key:0 for key in teams}
    wins = {key:0 for key in teams}
    ties = {key:0 for key in teams}
    
    return wins, ties, losses

In [10]:
def calc_goals_against(results):
    ga = defaultdict(int)
    for result in results:
    # team 1 abbrev += team 2's goals
        ga[result[0][0]] += result[1][1]
        # team 2 abbrev += team 1's goals
        ga[result[1][0]] += result[0][1]
    
    return ga

In [30]:
def calc_goals_for_and_games_played(results):
    gs = defaultdict(int)
    gp = defaultdict(int)
    for result in results:
        for tup in result:
            team_abbr = tup[0]
            team_scr = tup[1]
            gs[team_abbr] += team_scr
            gp[team_abbr] += 1
    
    return gs, gp

In [31]:
def calc_goal_diffs(gs, ga):
    for team, goals in gs.items():
        gd[team] = goals - ga[team]
    
    return gd

In [32]:
def calc_team_points(wins, ties):
    pts = defaultdict(int)
    for team, num_wins in wins.items():
        # Win is 3 points, tie is 1 point
        pts[team] = (num_wins*3) + ties[team]
    
    return pts

In [33]:
def calc_teams_results(results, teams):
    wins, ties, losses = init_team_results(teams)
    
    for result in game_results:
    # If first team's goals == second team's goals
        if result[0][1] == result[1][1]:
            for team_and_score in result:
                ties[team_and_score[0]] += 1
        else:
            # sort result on the score if it wasn't a tie
            sorted_result = sorted(result, key=lambda x: x[1], reverse=True)
            # The winner will be the first tuple
            winner = sorted_result[0][0]
            # The loser will be the second tuple
            loser = sorted_result[1][0]
            wins[winner]+= 1
            losses[loser]+=1
    
    return wins, ties, losses

In [40]:
def get_all_game_results():
    # Initialize dictionaries and list that will store individual game results
    # Each dictionary's keys are the team abbreviations
    game_results = []

    for result_dict in results_list:
        competitors_dict = result_dict['sport_event']
        competitors_list = competitors_dict['competitors']
        home_and_away_team = {}
        home_and_away_score = {}
        for competitor in competitors_list:
            # qual is either home or away
            qual = competitor['qualifier']
            # pairs home/away with team abbreviation
            home_and_away_team[qual] = competitor['abbreviation']

        sport_event_stat = result_dict['sport_event_status']
        game_result = [(home_and_away_team['home'], sport_event_stat['home_score']), 
                        (home_and_away_team['away'], sport_event_stat['away_score'])]

        game_results.append(game_result)
    
    return game_results

In [47]:
game_results = get_all_game_results()

pprint(game_results[:5])
print(len(game_results))

[[('MUN', 2), ('LEI', 1)],
 [('NEW', 1), ('TOT', 2)],
 [('BOU', 2), ('CAR', 0)],
 [('FUL', 0), ('CRY', 2)],
 [('HUD', 0), ('CHE', 3)]]
150

In [ ]:
teams = get_unique_teams(game_results)

ga = calc_goals_against(game_results)

gs, gp = calc_goals_for_and_games_played(game_results)

wins, ties, losses = calc_teams_results(game_results, teams)

In [42]:
gd = calc_goal_diffs(gs, ga)

pts = calc_team_points(wins, ties)

In [43]:
table_columns = [gp, wins, ties, losses, gs, ga, gd, pts]
team_info = {}
for team in teams:
    info = []
    for dict_ in table_columns:
        info.append(dict_[team])
    team_info[team] = info
pprint(team_info)

{'ARS': [15, 9, 4, 2, 34, 20, 14, 31],
 'BHA': [15, 6, 3, 6, 19, 21, -2, 21],
 'BOU': [15, 7, 2, 6, 25, 22, 3, 23],
 'BUR': [15, 2, 3, 10, 14, 32, -18, 9],
 'CAR': [15, 3, 2, 10, 14, 30, -16, 11],
 'CHE': [15, 9, 4, 2, 31, 13, 18, 31],
 'CRY': [15, 3, 3, 9, 11, 20, -9, 12],
 'EVE': [15, 6, 5, 4, 21, 17, 4, 23],
 'FUL': [15, 2, 3, 10, 15, 36, -21, 9],
 'HUD': [15, 2, 4, 9, 10, 26, -16, 10],
 'LEI': [15, 6, 4, 5, 21, 18, 3, 22],
 'LIV': [15, 12, 3, 0, 30, 6, 24, 39],
 'MCI': [15, 13, 2, 0, 45, 7, 38, 41],
 'MUN': [15, 6, 5, 4, 24, 25, -1, 23],
 'NEW': [15, 3, 4, 8, 12, 20, -8, 13],
 'SOU': [15, 1, 6, 8, 13, 29, -16, 9],
 'TOT': [15, 11, 0, 4, 28, 16, 12, 33],
 'WAT': [15, 6, 2, 7, 18, 21, -3, 20],
 'WHU': [15, 5, 3, 7, 20, 23, -3, 18],
 'WOL': [15, 5, 4, 6, 15, 18, -3, 19]}

__Sort team info results based on points.__

In [44]:
d_info = team_info.items()
sorted_d = sorted(d_info, key=lambda x: x[1][-1], reverse=True)
pprint(sorted_d)

[('MCI', [15, 13, 2, 0, 45, 7, 38, 41]),
 ('LIV', [15, 12, 3, 0, 30, 6, 24, 39]),
 ('TOT', [15, 11, 0, 4, 28, 16, 12, 33]),
 ('CHE', [15, 9, 4, 2, 31, 13, 18, 31]),
 ('ARS', [15, 9, 4, 2, 34, 20, 14, 31]),
 ('MUN', [15, 6, 5, 4, 24, 25, -1, 23]),
 ('EVE', [15, 6, 5, 4, 21, 17, 4, 23]),
 ('BOU', [15, 7, 2, 6, 25, 22, 3, 23]),
 ('LEI', [15, 6, 4, 5, 21, 18, 3, 22]),
 ('BHA', [15, 6, 3, 6, 19, 21, -2, 21]),
 ('WAT', [15, 6, 2, 7, 18, 21, -3, 20]),
 ('WOL', [15, 5, 4, 6, 15, 18, -3, 19]),
 ('WHU', [15, 5, 3, 7, 20, 23, -3, 18]),
 ('NEW', [15, 3, 4, 8, 12, 20, -8, 13]),
 ('CRY', [15, 3, 3, 9, 11, 20, -9, 12]),
 ('CAR', [15, 3, 2, 10, 14, 30, -16, 11]),
 ('HUD', [15, 2, 4, 9, 10, 26, -16, 10]),
 ('BUR', [15, 2, 3, 10, 14, 32, -18, 9]),
 ('FUL', [15, 2, 3, 10, 15, 36, -21, 9]),
 ('SOU', [15, 1, 6, 8, 13, 29, -16, 9])]

In [45]:
# Using pandas
data = pd.DataFrame(team_info, index=['G', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'P']).T
df = data.sort_values(['P'], ascending=False)
display(df)

      G   W  D   L  GF  GA  GD   P
MCI  15  13  2   0  45   7  38  41
LIV  15  12  3   0  30   6  24  39
TOT  15  11  0   4  28  16  12  33
ARS  15   9  4   2  34  20  14  31
CHE  15   9  4   2  31  13  18  31
BOU  15   7  2   6  25  22   3  23
MUN  15   6  5   4  24  25  -1  23
EVE  15   6  5   4  21  17   4  23
LEI  15   6  4   5  21  18   3  22
BHA  15   6  3   6  19  21  -2  21
WAT  15   6  2   7  18  21  -3  20
WOL  15   5  4   6  15  18  -3  19
WHU  15   5  3   7  20  23  -3  18
NEW  15   3  4   8  12  20  -8  13
CRY  15   3  3   9  11  20  -9  12
CAR  15   3  2  10  14  30 -16  11
HUD  15   2  4   9  10  26 -16  10
FUL  15   2  3  10  15  36 -21   9
SOU  15   1  6   8  13  29 -16   9
BUR  15   2  3  10  14  32 -18   9

__Sorted first on points, then on goal differential, then on goals for.__

In [39]:
d = data.sort_values(['P', 'GD', 'GF'], ascending=False)
display(d)

      G   W  D   L  GF  GA  GD   P
MCI  15  13  2   0  45   7  38  41
LIV  15  12  3   0  30   6  24  39
TOT  15  11  0   4  28  16  12  33
CHE  15   9  4   2  31  13  18  31
ARS  15   9  4   2  34  20  14  31
EVE  15   6  5   4  21  17   4  23
BOU  15   7  2   6  25  22   3  23
MUN  15   6  5   4  24  25  -1  23
LEI  15   6  4   5  21  18   3  22
BHA  15   6  3   6  19  21  -2  21
WAT  15   6  2   7  18  21  -3  20
WOL  15   5  4   6  15  18  -3  19
WHU  15   5  3   7  20  23  -3  18
NEW  15   3  4   8  12  20  -8  13
CRY  15   3  3   9  11  20  -9  12
CAR  15   3  2  10  14  30 -16  11
HUD  15   2  4   9  10  26 -16  10
SOU  15   1  6   8  13  29 -16   9
BUR  15   2  3  10  14  32 -18   9
FUL  15   2  3  10  15  36 -21   9